.news-container {
    background-color: #2A2D40;
    border-radius: 24px;
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-title {
    padding: 20px;
    font-family: BarlowSemiCondensed-SemiBold;
    font-size: 22px;
}

.news-description-div {
    margin: 0px 20px;
    padding: 8px 0px;
}

.news-title-header {
    background-color: #2B2E46;
    padding: 10px 0px;
}

.news-container>span {
    font-size: 18px;
    font-family: BarlowSemiCondensed-Regular;
    line-height: 0px;
}