.maplist-page {
    position: absolute;
    left: 320px;
    height: 100%;
    color: #cdcfdf;
    width: calc(100% - 320px);
    font-family: BarlowSemiCondensed-Regular;
    overflow-y: scroll;
}

a {
    color: inherit;
    width: fit-content;
}

.maplist-page-content {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
}

.maplist-page-header {
    margin-top: 50px;
    display: grid;
    margin-bottom: 10px;
}

.nav-btn {
    height: 40px;
    background-color: #2b2e46;
    color: inherit;
    font-size: 18px;
    font-family: inherit;
    border: none;
    border-radius: 20px;
    transition: background-color .1s;
    cursor: default;
    width: fit-content;
}

.nav-btn>span {
    padding: 0 8px 0 8px;
    font-size: 22px;
}

.nav-btn:hover {
    background-color: #202232;
    cursor: pointer;
}

.game {
    width: 100%;
    height: 192px;
    background: #202232;
    border-radius: 24px;
    overflow: hidden;
}

.game-header {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.game-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(4px);
}

.game-header-text>span {
    font-size: 42px;
    font-weight: 500;
    margin: 5px;
}

.game-header-text span>b {
    font-size: 96px;
    font-weight: 600;
}

.game-nav {
    display: flex;
    height: 48px;
}

.game-nav-btn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    color: inherit;
    font-family: inherit;
    font-size: 22px;
    background: #2B2E46;
    transition: background-color .1s;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-nav-btn:hover, .selected {
    background-color: #202232;
    cursor: pointer;
}

.gameview-nav {
    margin-top: 20px;
    display: flex;
    height: 56px;
    border-radius: 24px;
    overflow: hidden;
}

.maplist {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.chapter-name {
    font-size: 30px;
}

.chapter-page-div {
    display: flex;
    justify-content: right;
    transform: translateY(-30px);
}

.chapter-page-div button {
    background-color: #00000000;
    border: 0;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 30px;
}

.chapter-page-div span {
    color: #cdcfdf;
    font-family: BarlowSemiCondensed-Regular;
    font-size: 20px;
}

.maplist-maps {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    transform: translateY(-30px);
}

.maplist-item {
    background: #202232;
    border-radius: 24px;
    overflow: hidden;
    margin: 10px 10px;
    /* padding: 10px 15px; */
}

.maplist-img-div {
    height: 150px;
    overflow: hidden;
}

.maplist-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(4px);
    opacity: 0.7;
}

.maplist-portalcount-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    transform: translateY(-100%);
    overflow: hidden;
}

.maplist-title {
    font-size: 22px;
    text-align: center;
    width: 100%;
    display: inherit;
    padding: 5px 0px;
    color: #CDCFDF;
}

.maplist-portals {
    margin-left: 5px;
    font-size: 32px;
}

.difficulty-div {
    display: flex;
    padding: 7px 10px;
}

.difficulty-label {
    font-size: 18px;
}

.difficulty-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    margin: 5px;
}

.difficulty-point {
    background: #2B2E46;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
}
