.maplist-page {
    position: absolute;
    left: 320px;
    height: 100%;
    color: #cdcfdf;
    width: calc(100% - 320px);
    font-family: BarlowSemiCondensed-Regular;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: inherit;
    width: fit-content;
}

.maplist-page-content {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
}

.maplist-page-header {
    margin-top: 50px;
    display: grid;
    margin-bottom: 10px;
}

.nav-btn {
    height: 40px;
    background-color: #2b2e46;
    color: inherit;
    font-size: 18px;
    font-family: inherit;
    border: none;
    border-radius: 20px;
    transition: background-color .1s;
    cursor: default;
    width: fit-content;
}

.nav-btn>span {
    padding: 0 8px 0 8px;
    font-size: 22px;
}

.nav-btn:hover {
    background-color: #202232;
    cursor: pointer;
}

.game {
    width: 100%;
    height: 192px;
    background: #202232;
    border-radius: 24px;
    overflow: hidden;
}

.game-header {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.game-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.game-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(4px);
}

.game-header-text>span {
    font-size: 42px;
    font-weight: 500;
    margin: 5px;
}

.game-header-text span>b {
    font-size: 96px;
    font-weight: 600;
}

.game-nav {
    display: flex;
    height: 48px;
}

.game-nav-btn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    color: inherit;
    font-family: inherit;
    font-size: 22px;
    background: #2B2E46;
    transition: background-color .1s;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-nav-btn:hover, .selected {
    background-color: #202232;
    cursor: pointer;
}

.gameview-nav {
    margin-top: 20px;
    display: flex;
    height: 56px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #202232;
}

.maplist {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.chapter-name {
    font-size: 30px;
}

.chapter-page-div {
    display: flex;
    justify-content: right;
    transform: translateY(-30px);
}

.chapter-page-div button {
    background-color: #00000000;
    border: 0;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 30px;
}

.chapter-page-div span {
    color: #cdcfdf;
    font-family: BarlowSemiCondensed-Regular;
    font-size: 20px;
}

.maplist-maps {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    transform: translateY(-30px);
}

.maplist-item {
    background: #202232;
    border-radius: 24px;
    overflow: hidden;
    margin: 10px 10px;
    /* padding: 10px 15px; */
}

.maplist-img-div {
    height: 150px;
    overflow: hidden;
}

.maplist-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(4px);
    opacity: 0.7;
}

.maplist-portalcount-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    transform: translateY(-100%);
    overflow: hidden;
}

.maplist-title {
    font-size: 22px;
    text-align: center;
    width: 100%;
    display: inherit;
    padding: 5px 0px;
    color: #CDCFDF;
}

.maplist-portals {
    margin-left: 5px;
    font-size: 32px;
}

.difficulty-div {
    display: flex;
    padding: 7px 10px;
}

.difficulty-label {
    font-size: 18px;
}

.difficulty-bar {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    margin: 5px;
}

.difficulty-point {
    background: #2B2E46;
    height: 3px;
    margin: 5px;
    border-radius: 10px;
}

.stats {
    margin-top: 30px;
}

.portalcount-over-time-div {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #202232;
    border-radius: 20px;
}

.graph-title {
    width: 100%;
    display: inherit;
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    font-family: BarlowSemiCondensed-Regular;
    font-weight: 600;
    padding-top: 5px;
}

.portalcount-graph {
    height: calc(100% - 30px);
    width: calc(100% - 80px);
}

.chart {
    height: calc(100% - 80px);
    width: 100%;
    position: relative;
    padding: 0px 0px;
    scrollbar-width: thin;
}

.line-chart {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    border-bottom: 2px solid #2B2E46;
}

.data-point {
    background-color: #202232;
    border: 4px solid #006FDE;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    width: 6px;
    bottom: calc(var(--y) - 4.5px);
    left: calc(var(--x) - 6.5px);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    animation: point_intro 0.2s cubic-bezier(0.075, 0.82, 0.165, 1.8);
    animation-fill-mode: backwards;
}

.data-point:hover {
    background-color: #006FDE;
    box-shadow: 0px 0px 10px #006FDE;
}

.line-segment {
    background-color: #006FDE;
    bottom: var(--y);
    height: 4px;
    left: var(--x);
    position: absolute;
    transform: rotate(calc(var(--angle) * -1deg));
    width: calc(var(--hypotenuse) * 1px);
    transform-origin: left bottom;
    border-radius: 20px;
    z-index: 1;
    animation: line_intro 0.05s cubic-bezier(0, 1, 0.31, 0.96);
    animation-fill-mode: backwards;
}

#dataPointInfo {
    position: absolute;
    width: 400px;
    height: 85px;
    background: #202232;
    box-shadow: 0px 4px 16px 0px #00000080;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
    opacity: 0;
    left: auto;
    border-radius: 20px;
    padding: 15px 7px;
}

.section-header {
    display: flex;
    text-align: center;
    font-family: BarlowSemiCondensed-Regular;
    font-weight: 600;
    font-size: 18px;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.section-header span, .section-data span {
    flex: 1;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #2B2E46;
    display: flex;
    margin: 5px 0px 8px 0px;
}

.section-data {
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    background-color: #2B2E46;
    height: 52%;
    border-radius: 200px;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    font-family: BarlowSemiCondensed-Regular;
    font-size: 18px;
    padding: 0px 5px;
}

@keyframes line_intro {
    0% {
        width: 0;
    }
    100% {
        width: calc(var(--hypotenuse) * 1px);
    }
}

@keyframes point_intro {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        transform: translate(3px, -3px);
    }
    100% {
        width: 6px;
        height: 6px;
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
